<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header {
    color: rgb(116, 106, 106);
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.profile {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h2 {
    margin-bottom: 10px;

}

.profile p {
    margin-bottom: 5px;
}

    </style>
</head>
<body>
    <header>
        <h1>User Profile</h1>
    </header>
    <main>
        <div class="profile">
            <h2>{{user.name}}</h2>
            <p>Email: {{user.email}}</p>
            <p>Location: {{user.location}}</p>
            <p>Bio: {{user.bio}}</p>
            <p>Joined: {{user.joined}}</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Budget Bites</p>
    </footer>
</body>
</html>
